<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
    <title>Not Found</title>
</head>
<body>
    
    <%- include('partials/navbar.ejs') %>

    <h1>Sorry ! We could not find Anything on <%= page %> ! </h1>

</body>
</html>