<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
    <title>Shows Random Number</title>
</head>
<body>
    
    <%- include('partials/navbar.ejs') %>

    <h1>Your random number is: <%= randomNum %> </h1>

    <!-- This part of the code run as normal js -->
    <!-- If Statement -->
    <% if(randomNum % 2 == 0) {  %>
        <h2>This Random number is Even</h2>
    <% }else { %>
        <h2>This Random number is Odd</h2>
    <% } %> 


</body>
</html>

