<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Site EJS</title>
    <%- include('partials/header.ejs') %> 
</head>
<body>
    
    <%- include('partials/navbar.ejs') %>
    <div class="container">
    <h1>This is a template document by EJS</h1>

    <p><%= 'hello Word'.toUpperCase() %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quod quaerat dolorem natus incidunt nam nulla unde temporibus modi vitae ipsum totam reprehenderit suscipit eligendi, quo eveniet quibusdam veritatis non!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit atque sequi totam aliquam enim eligendi deleniti eum eos neque mollitia, officia quis, incidunt hic, architecto quam molestias nihil suscipit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat sit facilis dolore temporibus at! Ea error blanditiis possimus earum sint nisi voluptate alias, repellendus deleniti facilis labore. Adipisci, reiciendis.
        Veritatis quod recusandae dolore qui in aut, placeat saepe dolorum officia, aperiam sed dolores mollitia ducimus veniam delectus reiciendis blanditiis perferendis sapiente est, quo nam? Mollitia optio officiis molestiae nostrum!
        Sequi, amet. Quia, repudiandae reiciendis. Esse expedita temporibus sed porro exercitationem ratione ipsum atque et sit quod, quis iure! Corporis labore saepe delectus nemo voluptatem sequi, nam tempore debitis doloremque!
        Quis porro suscipit facere quibusdam, delectus autem exercitationem in consectetur! Amet sapiente fuga quasi numquam nihil eaque dolores aspernatur debitis expedita impedit dolorem cupiditate exercitationem, delectus officiis magnam enim modi.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fugiat aliquid, officia quidem tenetur dignissimos quam alias vero maxime maiores ex perferendis nesciunt nam suscipit accusantium hic dolorem magnam molestiae?
    Cumque assumenda distinctio et consectetur, vel quia velit quos, deserunt quisquam asperiores porro ad possimus ea animi iusto eligendi aspernatur ipsam nisi mollitia. Voluptatibus sint rem temporibus sit obcaecati molestiae?
    Odio at pariatur ea accusantium animi. Expedita dolorum magnam, sunt quis alias amet quo recusandae cum similique explicabo? Voluptas a, doloremque eum impedit dignissimos ab natus iusto ratione possimus expedita.
    Perspiciatis dicta illo libero est, amet reiciendis ducimus beatae doloribus facilis magni nostrum quasi explicabo, provident distinctio rerum officiis iste unde! Ipsa, rem non nobis maiores explicabo iusto possimus dicta?
    Quia, harum. Ad, reprehenderit omnis provident esse doloribus voluptatibus labore cumque, perferendis facilis dolores quos itaque pariatur eum voluptas. Numquam impedit maxime dolorum culpa deleniti est in sit quod cum.
    Aut molestias, voluptatem assumenda soluta fuga sint possimus vero, deserunt vel magni dolorem perferendis est ad ipsa! Dolorem, delectus. Voluptates eveniet voluptas, itaque autem tempora iure! Maxime ea harum iusto.
    </p>
</div>
</body>
</html>