<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farms</title>
</head>
<body>
    <h1>Add New Farm Details</h1>
    
    <form action="/farms" method="POST">
        <div>
            <label for="name">Enter the Farm Name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="city">Enter the City: </label>
            <input type="text" name="city" id="city">
        </div>
        <div>
            <label for="email">Enter Email Id: </label>
            <input type="email" name="email" id="email">
        </div>
        <button>Submit</button>
    </form>

    <p>
        <a href="/farms">Cancel</a>
    </p>
</body>
</html>